<div class="container">
<div class=" footer">


    <div class="footerlogoblock">Created by <br>the Slow Factory:</div>

    <div class="footerlogoblock">
      <a href="https://slowfactory.earth"><img style="width:9rem" src="{{ 'images/slow-S-factory.svg' | asset_url }}" /></a>
      <br>
      501c3 nonprofit
    </div>

    <div class="footerlogoblock">
      <a href="https://slowfactory.studio"><img src="{{ 'images/slow-factory-logo-studio.svg' | asset_url }}" /></a>
      <br>
      web3 & production
    </div>

    <div class="footerlogoblock">
      <a href="https://slowfactorylabs.co"><img src="{{ 'images/slow-labs-logo.svg' | asset_url }}" /></a>
      <br>
      new materials research
    </div>

    <div class="footerlogoblock">
      <a href="https://slowhide.com"><img style="width:7rem" src="{{ 'images/Slowhide-logo.png' | asset_url }}" /></a>
      <br>
      plastic-free vegan leather
    </div>


  </div>
</div>
