
{% comment %}
{% include menu-mobile.liquid %}
{% endcomment %}


<div class="section">
  <div class="container">

    <p><a href="/" class="sf-logo">
      <img src="{{ 'images/slow-labs-logo.svg' | asset_url }}" alt="Slow Factory Labs" class="slow-factory-logo">
    </a></p>

  </div>
</div>
