<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page.title }}</title>

<link rel="stylesheet" href="/assets/css/style.css?c={{ site.data.webpack.hash }}">
<script src="/assets/js/app.js?c={{ site.data.webpack.hash }}"></script>

<link rel="icon" href="{{ 'images/favicon-s-mark-filled.png' | asset_url }}" type="image/x-icon">

</head>
