{% include html-head.liquid %}

<body class="bg-slow">

  <!--[if lt IE 10]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

{% include header.liquid %}

<div class="main-content">

    <div class="container">
      <div class="section" style="background: rgba(255,255,255,.5)">


      <div class="row">
        <div class="two-thirds">


          {{ content }}


        </div>
        <div class="third">

          <p class="title-sm">How to Apply</p>
          <p>Please email to <a href="mailto:jobs@slowfactory.com">jobs@slowfactory.com</a></p>
          <ul>
            <li>Your resume</li>
            <li>Link to social or web presence</li>
          </ul>

        </div>
      </div>

    </div>
  </div>

</div>

{% include footer.liquid %}
{% include google-analytics.liquid %}

</body>
</html>
